nav {
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        li {
            text-decoration: none;
            margin-right: 3em;
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}